<nav id="main-nav">
    <a href="{{site.baseurl}}/" class="main-nav-link">Home</a>
    <a href="{{site.baseurl}}/documentation/" class="main-nav-link">Docs</a>
    <a href="{{site.baseurl}}/documentation/plugin-api" class="main-nav-link">API</a>
    <a href="{{site.baseurl}}/themes" class="main-nav-link">Themes</a>
    <a href="{{site.baseurl}}/plugins" class="main-nav-link">Plugins</a>
    <a href="{{site.baseurl}}/documentation/shop/themes" class="main-nav-link">Shop</a>
    <a href="https://github.com/0mniscient" class="main-nav-link"><i class="fa fa-github-alt"></i></a> 
</nav>