<!-- GENERAL -->
<meta charset="UTF-8">
<title>{% if page.title %}{{page.title}} | {% endif %}{{site.name}}</title>
<meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}"/>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
{% if page.keywords %}
<meta name="keywords" content="{{page.keywords | join: ' ' }}">
{% elsif layout.keywords %}
<meta name="keywords" content="{{layout.keywords | join: ' ' }}">
{% endif %}
<link rel="shortcut icon" href="{{site.icon}}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://betterdocs.net/">
<meta property="og:site_name" content="{{site.name}}">
<meta property="og:title" content="{{page.title}}">
<meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
<meta property="og:image" content="https://i.imgur.com/3sc5OG3.png">

<!-- STYLES -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,700" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" type="text/css">
<link rel="stylesheet "href="https://fonts.googleapis.com/css?family=Lato:300,400,700" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% for e in layout.css %}
{% capture url %}/css/{{e}}.css{% endcapture %}
<link rel="stylesheet" href="{{url | relative_url}}" type="text/css">
{% endfor %}
{% for e in page.css %}
{% capture url %}/css/{{e}}.css{% endcapture %}
<link rel="stylesheet" href="{{url | relative_url}}" type="text/css">
{% endfor %}
<style>
    #content-wrap {
        background: #19191b;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        margin: -1px 0;
    }
    #plugin-list-title {
        color: #fff;
    }
    #container {
        margin-top: 85px;
    }
</style>

<!-- JAVASCRIPT -->
{% for e in layout.js %}
{% capture url %}/js/{{e}}.js{% endcapture %}
<script src="{{url | relative_url}}" type="text/javascript"></script>
{% endfor %}
{% for e in page.js %}
{% capture url %}/js/{{e}}.js{% endcapture %}
<script src="{{url | relative_url}}" type="text/javascript"></script>
{% endfor %}
<!--[if lt IE 9]>
    <script src="{{'/js/html5shiv.js' | relative_url}}"></script>
    <script src="{{'/js/respond.min.js' | relative_url}}"></script>
<![endif]-->