{% assign links = site.header.links %}
<div class="logo page">
    <header id="header" class="wrapper">
        <div id="header-inner" class="inner">
            <nav class="pushy pushy-left">
                <div class="pushy-content">
                    <ul>
                        <li class="pushy-link">
                            <a href="{{'/' | relative_url}}">Home</a>
                        </li>
                        {% for e in links %}
                        {% assign s = e.url | slice: 0 %}
                        <li class="pushy-link">
                            <a href="{% if s == '/' %}{{e.url | relative_url}}{% else %}{{e.url}}{% endif %}">{{e.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <div class="site-overlay"></div>
            <div id="container">
                <button class="menu-btn">☰</button>
            </div>
            <div id="import-header"></div>
        </div>
    </header>
    <div class="tab-links fadeInDown">
        {% assign len = links | size | divided_by: 2 | floor %}
        <div class="left-tabs">
            {% for e in links %}
            {% if forloop.index <= len %}
            <a href="{{e.url | relative_url}}">
                <div class="tabb tab-{{forloop.index}}">{{e.name}}</div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <a href="{{'/' | relative_url}}">
        <img class="animated logo-page b-error fadeInDown" src="{{'/img/betterdocs_white.svg' | relative_url}}" alt="logo">
    </a>
    <div class="tab-links fadeInDown">
        <div class="right-tabs">
            {% for e in links %}
            {% if forloop.index > len %}
            {% assign s = e.url | slice: 0 %}
            <a href="{% if s == '/' %}{{e.url | relative_url}}{% else %}{{e.url}}{% endif %}">
                <div class="tabb tab-{{forloop.index}}">{{e.name}}</div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>