---
layout: main
title: Themes
keywords: 
    - Themes
    - Reborn
    - Dark Matter
    - Transparent
    - Light
    - Quiet
    - Color
    - Clear Vision
    - Material Design
    - Flat
    - Anime
    - Background
    - Animations
---
{% assign themes = "|" | split: "|" %}
{% for file in site.pages %}
    {% if file.layout == "theme" and file.hidden != true %}
        {% assign themes = themes | push: file %}
    {% endif %}
{% endfor %}
<header id="plugin-list-header">
    <h1 id="plugin-list-title">Themes</h1>
    <div id="plugin-list-count" class="total-items">Total Themes: {{themes | size | plus: 1}}</div>
    <input type="search" id="plugin-search-input" placeholder="Search themes...">
</header>
<ul id="plugin-list">
    <li class="plugin on">
        <div class="plugin-screenshot">
            <img src="{{ '/img/shop-display.png' | relative_url}}" class="lazy plugin-screenshot-img b-loaded" width="auto" height="auto">
            <a href="https://betterdocs.net/documentation/shop/themes" class="plugin-preview-link">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
        <a href="https://betterdocs.net/documentation/shop/themes" class="plugin-name">Shop</a>
        <p class="plugin-desc">Pay for a custom and beautiful theme now!</p>
        <div class="plugin-tag-list">
            <a href="#Omniscient" class="plugin-tag">Omniscient</a>
            <a href="#Maple" class="plugin-tag">Maple</a>
            <a href="#Store" class="plugin-tag tag-invis">Store</a>
            <a href="#Money" class="plugin-tag tag-invis">Money</a>
        </div>
    </li>
    {% for e in themes %}
    {% assign url = e.url | remove: ".html" %}
    <li class="plugin on">
        <div class="plugin-screenshot">
            {% if e.img %}
                {% assign img = e.img %}
            {% else %}
                {% capture img %}/themes/images/{{e.title | downcase | remove: '-' | normalize_whitespace | replace: ' ', '_' }}.jpg{% endcapture %}
            {% endif %}
            {% assign s = img | slice: 0 %}
            <img src="{% if s == '/' %}{{img | relative_url}}{% else %}{{img}}{% endif %}" class="lazy plugin-screenshot-img b-loaded" width="auto" height="auto">
            <a href="{{url | relative_url}}" class="plugin-preview-link">
                <i class="fa fa-eye"></i>
            </a>
        </div>
        <a href="{{url | relative_url}}" class="plugin-name">{{e.title}}</a>
        <p class="plugin-desc">{{e.description}}</p>
        <div class="plugin-tag-list">
                <a href="#{{e.author | replace: ' ', '-' }}" class="plugin-tag">{{e.author}}</a>
            {% for t in e.tags %}
            <a href="#{{t | replace: ' ', '-' }}" class="plugin-tag">{{t}}</a>
            {% endfor %}
        </div>
    </li>
    {% endfor %}
</ul>